body{
    background-color: #eeeeee;
    color: #222831;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}

.container{

    margin: auto;
    overflow: hidden;
}

#main-header, #main-footer{
    background-color: #32e0c4;
    color: #ffffff;
    text-align: center;
    line-height: 1.5em;
    padding: 10px;
    margin: 20px;
}
#main-footer{
    clear: both;
}

#navbar{

    float: left;
    width: 25%;
    margin-left: 2%;
    min-height: 300px;
    box-sizing: border-box;
}

#navbar ul{
    padding: 0;
    margin-top: 8%;
    list-style-type: none;
}

#navbar li{
    background-color: #393e46;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 8px;
}

#navbar li:hover{
    background-color: #222831;
}

#navbar a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
}

main{
    float: left;
    width: 45%;
    padding: 2px 8px;
    box-sizing: border-box;
}

#sidebar{
    background-image: url('../images/covid_precautions.gif');
    background-position: center top;
    background-position-y: 3%;
    background-repeat: no-repeat;
    background-color: #393e46;
    color: #ffffff;
    width: 25%;
    padding: 1%;
    margin-right: 2%;
    margin-top: 2%;
    float: right;
    box-sizing: border-box;
}

#sidebar h4{
    text-align: center;
    padding-top: 50%;
}

@media (max-width: 480px){
    body{
        font-size: 0.7em;
    }
    #main-header, #main-footer{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #main-header h1{
        line-height: 1.5em;
    }
    #navbar{
        width: 100%;
        float: none;
    }
    #content{
        width: 100%;
        float: none;
        text-align: left;
        margin: 0% 2%;
        padding: 0;

    }
    #sidebar{
        width: 100%;
        clear: right;
        text-align: left;
        margin: 2%;
        padding: 0;
        height: auto;
    }
}

@media (min-width: 480px) and (max-width: 1024px){
    body{
        font-size: 1.3em;
    }
    #main-header, #main-footer{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #main-header h1{
        line-height: 1.5em;
    }
    #navbar{
        width: 100%;
        float: none;
    }
    #content{
        width: 100%;
        float: none;
        text-align: left;
        margin: 0% 2%;
        padding: 0;

    }
    #sidebar{
        width: 100%;
        clear: right;
        text-align: left;
        margin: 2%;
        padding: 0;
        height: auto;
    }

}

@media(min-width: 1028px){
    body{
        font-size: 1.7em;
    }
}
